{% extends 'application.html' %}
{% load i18n %}
{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>Über uns</h1>
  </div>
</div>

<div class="inner-wrap">
	<div class="container">
		<div class="row">
			<p>Benötigen Sie dringend etwas, wissen aber nicht genau wo Sie es kaufen können? und grob zu einem vernünftigen Preis, oder?
Sie können Informationen über Geschäfte in Ihrer Nähe erhalten, die diese Waren zu ziemlich erschwinglichen Preisen verkaufen. Einige Geschäfte in Ihrer Nähe schließen möglicherweise ihr Geschäft aus Gründen der Expansion, des Umzugs, der Wartung oder aus finanziellen Gründen. Auf jeden Fall verkaufen diese Läden ihre Waren mit aufregenden Rabattangeboten innerhalb eines begrenzten Zeitraums.</p>

<p>Bei Closingshops.de bieten wir Geschäftsinhabern eine Plattform, um potenzielle Kunden zu vergrößern, während sie während ihrer Nachbearbeitungsphase nur eine begrenzte Zeit für die Lagerräumung haben, indem sie für ihre Last-Minute-Verkaufsangebote und Verbraucher genaue Informationen über Verkaufsstellen für beliebte Marken und Qualitätsprodukte veröffentlichen ihre Budgetgrenzen.</p>

<p>Unsere Mission ist es, Informationen über die verfügbaren Verkaufsangebote und deren Standort bereitzustellen und eine Verbindung zwischen Geschäftsinhabern und ihren potenziellen Kunden herzustellen. Wir verkaufen nichts.</p>

		</div>
	</div>
</div>
{% endblock %}