{% extends 'application.html' %}

{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>DATENSCHUTZERKLÄRUNG</h1>
  </div>
</div>

<div class="inner-wrap">
	<div class="container">
		<div class="row">
			<h3>
				Allgemeine Geschäftsbedingungen - Closingshops.de
			</h3>
			<h4> Version: August 2018 </h4>
			<dl class="closingshops-privacy">
				<dt>1.Umfang</dt>
				<dd>
				<p>	The Closingshops.de (CSDe), Theaterstraße 18, 52062, Aachen, stellt Ihnen den Internetportal-Service auf Basis dieser Allgemeinen Geschäftsbedingungen (nachfolgend "AGB" genannt -) zur Verfügung. Diese AGB gelten für alle Dienste und Inhalte, die auf der Website unter den URLs www.closingshops.de angeboten werden, sowie für die dazugehörigen Unterseiten, die sogenannten Second- und Third-Level-Domains (im Folgenden zusammenfassend bezeichnet als " Internetportal "-). Diese AGB gelten jedoch nicht für sogenannte Drittanbieter-Dienste, d. H. Dienste, die von Drittanbietern unabhängig von CSDe angeboten werden. Solche Fremdleistungen werden im Internetportal gesondert ausgewiesen und unterliegen den Allgemeinen Geschäftsbedingungen der jeweiligen Fremdleistungen.</p>
				<p>
				Für besondere Dienstleistungen behält sich CSDe das Recht vor, der Eigentümer-Nutzer-Beziehung besondere Bedingungen aufzuerlegen. In diesen Fällen wird der Nutzer vor Inanspruchnahme des Dienstes ausdrücklich auf diese besonderen Bedingungen hingewiesen. Die im Einzelfall geltenden Sonderbedingungen haben Vorrang vor den AGB, sofern diese Sonderbedingungen von den AGB abweichende Bestimmungen enthalten. </p>
				<p>
				Die AGB regeln die Nutzung der von CSDe angebotenen Dienste. Mit der Nutzung der von CSDe angebotenen Dienste erklärt sich der Nutzer ausdrücklich damit einverstanden, diese AGB einzuhalten. Nutzer, die diesen AGB nicht zustimmen, dürfen die von CSDe angebotenen Dienste nicht nutzen. Die Inanspruchnahme der Dienste erfolgt, sobald der Nutzer auf die im Internetportal veröffentlichten Informationen zugreift und diese nutzt, ohne selbst eine Auflistung vorzunehmen. Die Nutzung der Daten gilt daher als erfolgt, sobald der Nutzer über das Internetportal Kontakt aufnimmt und die Informationen filtert.</p>
				<p>
				CSDe behält sich das Recht vor, diese AGB jederzeit zu ändern. In diesen Fällen sind dem Nutzer die neuen AGB schriftlich zur Verfügung zu stellen, und die neuen AGB gelten als angenommen, wenn der Nutzer ihnen nicht innerhalb von sechs Wochen nach ihrer Bereitstellung widerspricht.</p>
				</dd>
				<dt> 2. Vertragsgegenstand, Terminologie </dt>
				<dd>
				<p>CSDe bietet eine Internet-Plattform, auf der Personen zusammenkommen, die während ihrer Lagerfreigabe in naher Zukunft Verkaufs- und Rabattangebote in Geschäften oder Unternehmen suchen und anbieten, die geschlossen werden. Das Internetportal richtet sich in erster Linie an private Nutzer, die Informationen zum Verkaufsangebot nur zu nichtkommerziellen Zwecken suchen oder anbieten möchten. Ungeachtet der Bestimmungen in Artikel 6 ist die kommerzielle Nutzung des Internetportals, insbesondere die Veröffentlichung von kommerziellen Werbeanzeigen, dauerhaft untersagt. Der Dienst darf nur von Personen über 18 Jahren genutzt werden.</p>
				</dd>
				<dt> 3. Datenschutz </dt>
				<dd> <p>Die personenbezogenen Daten der Nutzer werden unter Beachtung der geltenden datenschutzrechtlichen Bestimmungen, insbesondere des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG), erhoben, verarbeitet und genutzt. CSDe nutzt Drittanbieter (z. B. Google), um Werbung anzuzeigen, wann immer Sie diese Website nutzen. Diese Unternehmen verwenden möglicherweise Informationen (NICHT einschließlich Ihrer privaten Kontoinformationen) über Ihre Besuche auf dieser Website und auf anderen Websites, damit Werbung für Produkte und Dienstleistungen geschaltet werden kann, die für Sie von Interesse sind.</p>
				</dd>
				<dt> 4. Nutzungsbeschränkungen, Gewährleistung, Haftungsausschluss </dt>
				<dd>
				<p>CSDe behält sich ausdrücklich das Recht vor, aus technischen Gründen Werbung oder andere Veröffentlichungen, die von einem nicht kommerziellen Nutzer hinzugefügt wurden, dauerhaft oder vorübergehend vom Internetportal zu entfernen oder einem Nutzer die Nutzung der Plattform zu untersagen. Gleiches gilt für Werbung und Veröffentlichungen im Internetportal, die gegen diese AGB, geltendes Recht oder gegen die guten Sitten verstoßen. CSDe übernimmt keine Garantie für die Vollständigkeit oder Richtigkeit der auf dem Internetportal veröffentlichten Inhalte, insbesondere der Informationen, die die Benutzer bei der Eröffnung ihres privaten Kontos hinzugefügt haben. </p>
				<p>CSDe übernimmt keine Haftung für leichte Fahrlässigkeit. Dieser Haftungsausschluss gilt nicht, wenn CSDe schuldhaft eine wesentliche Vertragspflicht verletzt, d. H. Eine Verpflichtung, deren Erfüllung der Nutzer zumutbar erwartet. Bei schuldhafter Verletzung einer wesentlichen Vertragspflicht ist die Haftung auf den vorhersehbaren und typischen Schaden begrenzt. Dieser Haftungsausschluss gilt auch für Erfüllungsgehilfen und sonstige gesetzliche Vertreter. Der Haftungsausschluss gilt nicht bei schuldhafter Verletzung des Lebens, des Körpers oder der Gesundheit sowie für die Haftung nach dem Produkthaftungsgesetz oder nach der Vermutung von Garantien oder Beschaffungsrisiken. CSDe übernimmt keine Haftung für höhere Gewalt. Höhere Gewalt liegt insbesondere bei Umwelt- und Klimakatastrophen, Kriegen und sonstigen Ausnahmezuständen vor. </p>
				<p>
				Jegliche direkten oder indirekten Schadensersatzansprüche oder Schadensersatzansprüche gegen CSDe, die sich auf den Betrieb des Internetportals beziehen, müssen gegen CSDe innerhalb eines Jahres geltend gemacht werden, nachdem der Benutzer Kenntnis von dem Schaden und der Haftung von CSDe erlangt hat. Wird der Anspruch des Nutzers nach dieser Frist geltend gemacht, so erlischt dieser (Verfall). Treten Verjährungsfristen vor Ablauf dieser Frist in Kraft, so gelten diese früheren Fristen. </p>
				</dd>
				<dt> 5. Kommerzielle Nutzung des Internetportals </dt>
				<dd>
				<p> Das Internetportal darf nur mit vorheriger Genehmigung von CSDe direkt oder indirekt für kommerzielle oder berufliche Zwecke genutzt werden. Eine solche Nutzung des Internetportals ist in der Regel ausgeschlossen, da der kostenlose Service im Vordergrund steht. Bei einem Verstoß gegen diese Bestimmung ist CSDe berechtigt, vom Nutzer Auskunft über die Höhe des Verdienstes zu verlangen, den er aus den Urkunden erhalten hat. CSDe behält sich ausdrücklich die Geltendmachung von Schadensersatzansprüchen vor, insbesondere für immaterielle Schäden (Imageschäden).
				</p>
				</dd>

				<dt> 6. Rechte und Pflichten des Nutzers </dt>
				<dd>
				<p>
				Für den Inhalt und die Richtigkeit der zur Verfügung gestellten Daten und Informationen ist allein der Nutzer verantwortlich. Der Nutzer ist auch für seine eigenen Handlungen im Internetportal verantwortlich. Darüber hinaus ist der Nutzer verpflichtet, keine Daten oder Informationen zu übermitteln, die Rechte Dritter verletzen (insbesondere Persönlichkeitsrechte, Namensrechte, Marken - und Urheberrechte oder sonstige verwandte Schutzrechte) oder die gegen geltendes Recht der Bundesrepublik Deutschland verstoßen Deutschland (zB Urheberrechtsgesetz, Bürgerliches Gesetzbuch, Strafgesetzbuch, Markengesetz, Verfassungsrecht, Kinderschutzgesetz). Dies gilt insbesondere auch für Links zu anderen Websites sowie für Verweise, die der Nutzer auf Angebote in Printmedien oder digitalen Medien macht.</p>
				<p>
				Darüber hinaus wird der Nutzer ausdrücklich darauf hingewiesen, dass die Veröffentlichung von urheberrechtlich geschütztem Kartenmaterial oder von urheberrechtlich geschützten Fotos auf dem Internetportal ohne Erlaubnis des Urhebers unzulässig ist. </p>

				<p>Dem Nutzer ist es auch untersagt, das Internetportal für andere illegale oder unmoralische Zwecke zu nutzen, die nicht den Zielen des Internetportals entsprechen. Die Verwendung von anstößigen Inhalten und mehrdeutigen Beschreibungen sowie Anregungen zu sexuellen Aktivitäten jeglicher Art ist untersagt. </p>
				<p>Der Nutzer stellt CSDe von allen Ansprüchen Dritter frei, die aufgrund eines Verstoßes des Nutzers gegen diese AGB durch Dritte gegen CSDe geltend gemacht werden. Der Benutzer erstattet CSDe alle Kosten, insbesondere im Zusammenhang mit Rechtsstreitigkeiten und Rechtsverteidigung. Darüber hinaus ist der Nutzer verpflichtet, CSDe alle erforderlichen Unterlagen und Informationen zur Verfügung zu stellen, die erforderlich sind, um dessen Interessen zu erfüllen. </P>
				<p>	Die auf der Website veröffentlichten Informationen dürfen vom Nutzer nicht zum Zwecke der Massen-E-Mail-Verbreitung (sog. Spam) verwendet werden. CSDe behält sich das Recht vor, Schadenersatz von Benutzern zu verlangen, die die auf dem Internetportal veröffentlichten Informationen für Spam-Zwecke verwenden. </p>

				<p>Nutzungshandlungen, die der Beeinträchtigung der Funktionalität des Internetportals dienen oder deren Nutzung zumindest erheblich beeinträchtigen, sind untersagt. Nutzer werden bei jedem Verstoß zivil- und strafrechtlich verfolgt. Insbesondere sind Eingriffe untersagt, die die physikalische und logische Struktur des Internetportals beeinträchtigen. </P>

				<p>Der Nutzer ist verpflichtet, seine Zugangsdaten nicht an Dritte weiterzugeben und vor unbefugtem Zugriff zu schützen. Der Nutzer haftet für die von ihm zu vertretende unbefugte Nutzung des Internetportals. Der Nutzer hat CSDe unverzüglich zu informieren, wenn er den Verdacht hat, dass seine Zugangsdaten von Dritten missbraucht werden. </P>

				<p>	Der Nutzer akzeptiert, dass die auf dem Internetportal übermittelten persönlichen Informationen von Suchmaschinen wie Google.de und Yahoo.de gefiltert werden können. CSDe kann eine solche Filterung durch Suchmaschinen nicht verhindern. Darüber hinaus würde die Verhinderung einer solchen Filterung den Interessen des Internetportals widersprechen, da Suchmaschinen die Abdeckung des Internetportals unter den interessierten Parteien erhöhen. </P>

				<p>Die Dienste im Internetportal dürfen nur mit vorheriger Zustimmung von CSDe vervielfältigt werden. Im Falle einer Zuwiderhandlung kann CSDe zivil- oder strafrechtliche Schritte gegen den jeweiligen Nutzer einleiten. </P>

				<p>Sollten diese AGB oder andere gesetzliche Bestimmungen von Dritten verletzt werden, bitten wir den Nutzer, CSDe unverzüglich über diesen Verstoß zu informieren, damit entsprechende Maßnahmen ergriffen werden können.</p>
				</dd>
				<dt> 7. Rechte und Pflichten von CSDe </dt>
				<dd>
				<p> CSDe behält sich das Recht vor, die auf dem Internetportal veröffentlichten Anzeigen zu überprüfen. CSDe respektiert die Rechte des Nutzers, insbesondere seine Meinungsfreiheit, sofern die Handlungen des Nutzers nicht zu Rechtsverletzungen von seiner Seite führen. Verstößt der Nutzer gegen die AGB oder steht ihm ein Verdacht entgegen, ist CSDe berechtigt, dem jeweiligen Nutzer die Nutzung der Dienste des Internetportals zu untersagen und die vom Nutzer übermittelten Daten unverzüglich zu löschen. </p>

				<p>Bevor CSDe dem Benutzer die Nutzung des Internetportals verbietet, wird er aufgefordert, das rechtsverletzende Verhalten innerhalb einer angemessenen Frist einzustellen. Kommt der Nutzer dieser Aufforderung nicht nach, kann er ohne weitere Ankündigung gesperrt werden. Wenn die Verletzung des Benutzers so schwerwiegend ist, dass von CSDe nicht mehr erwartet werden kann, dass sie die Eigentümer-Benutzer-Beziehung aufrechterhält; Die Eigentümer-Nutzer-Beziehung kann fristlos gekündigt werden. Dies gilt insbesondere bei einem Verstoß gegen gesetzliche Bestimmungen. </p>
				</dd>
				<dt> 8. Copyright, Lizenzen </dt>
				<dd>

				<p>Für die Dauer der gesetzlichen Urheberrechtsdauer räumt der Nutzer CSDe das (räumlich, zeitlich und inhaltlich unbegrenzte) Recht ein, die in den Anzeigen dargestellten Inhalte zu nutzen.</p><h6>Insbesondere werden gewährt: </h6>
				<ul>
					<li>Das Recht zur Vervielfältigung, Verbreitung und Veröffentlichung</li>
					<li>Das Recht, die Form der Reproduktion zu ändern, insbesondere durch Verarbeitung und Übersetzung oder Übermittlung in andere Sprachen, Dialekte oder mündliche Darstellungsformen.</li>
					<li>Haben Dritte Rechte an den Anzeigen, so räumt der Nutzer Closingshops.de auch diese Rechte in dem in Absatz 1 genannten Umfang aus.</li>
				</ul>
				</dd>
				<dt> 9. Beendigung der Eigentümer-Nutzer-Beziehung </dt>
				<dd>
				<p>CSDe behält sich ausdrücklich das Recht vor, das Internetportal oder einzelne Dienste davon jederzeit einzustellen oder zu ändern. Insbesondere behält sich CSDe das Recht vor, eine Gebühr für einzelne Dienstleistungen einzuführen. In diesem Fall wird der Nutzer von CSDe gesondert informiert und muss die Gebühr für die Dienstleistung durch eine gesonderte Erklärung entgegennehmen. Der Nutzer ist berechtigt, die Nutzungsbeziehung jederzeit ohne Angabe von Gründen zu kündigen. </p>
				</dd>
				<dt> 10. Schlussbestimmungen </dt>
				<dd>
				<p> Die Unwirksamkeit einer Bestimmung in diesen AGB lässt die Wirksamkeit der übrigen Bestimmungen dieser AGB unberührt. Diese Eigentümer-Nutzer-Beziehung unterliegt ausschließlich deutschem Recht. Allgemeine Geschäftsbedingungen des Nutzers, die diesen AGB widersprechen, berühren das Verhältnis zwischen Eigentümer und Nutzer nicht, da sie von CSDe nicht anerkannt werden. Sollte der Nutzer mit dieser Bestimmung nicht einverstanden sein, ist er berechtigt, von der Aufnahme der Eigentümer-Nutzer-Beziehung abzusehen. </p>
				</dd>
				<dt> 11. Version </dt>
				<dd>
				<p> Diese AGB gelten ab August 2018 und bleiben bis zur Veröffentlichung einer überarbeiteten Fassung auf unbestimmte Zeit gültig. </p>
				</dd>
			</dl>

		</div>
	</div>
</div>
{% endblock %}
