{% extends 'application.html' %}
{% block title %} - Password Instruction {% endblock title %}
{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>Anweisungen zurücksetzen Gesendet.</h1>
  </div>
</div>
<div class="inner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <div class="login">
          <div class="formint conForm">
            <p>
              Wir haben Ihnen Anweisungen zum Festlegen Ihres Passworts per E-Mail gesendet, wenn mit der eingegebenen E-Mail ein Konto vorhanden ist.
              Sie sollten sie in Kürze erhalten.
            </p>
            <p>
              Wenn Sie keine E-Mail erhalten, vergewissern Sie sich, dass Sie die Adresse eingegeben haben, mit der Sie sich registriert haben, und überprüfen Sie Ihren Spam-Ordner.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</div>
{% endblock %}
