{% extends 'application.html' %}
{% block title %} - Password Reset {% endblock title %}
{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>Passwort zurücksetzen</h1>
  </div>
</div>
<div class="inner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <div class="login">
          <div class="formint conForm">
            <form method="post">
              {% csrf_token %}
              <div class="input-wrap">
                <label for="id_email">Email</label>
                <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control">
              </div>
              <div class="sub-btn">
                <input type="submit" class="sbutn" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</div>
{% endblock %}
