{% extends 'application.html' %}
{% block title %} - Change Password {% endblock title %}
{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>Passwortänderung</h1>
  </div>
</div>
<div class="inner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <div class="login">
          {% if validlink %}
          <div class="contctxt">Passwortänderung</div>
          <div class="formint conForm">
            <form method="post">
              {% csrf_token %}
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                  {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
              <div class="input-wrap">
                <label for="id_new_password1">Neus passwort</label>
                <input type="password" name="new_password1" id="id_new_password1" required placeholder="New Password" class="form-control">
              </div>
              <div class="input-wrap">
                <label for="id_new_password2">Neues Passwort bestätigen</label>
                <input type="password" name="new_password2" placeholder="New Password Repeat" class="form-control" id="id_new_password2">
              </div>
              <div class="sub-btn">
                <input type="submit" class="sbutn" value="Change password">
              </div>
            </form>
          </div>
          {% else %}
            <p>
              Der Link zum Zurücksetzen des Kennworts war ungültig, möglicherweise, weil er bereits verwendet wurde. 
              Bitte fordern Sie ein neues Passwort zurücksetzen. <a href="{% url 'password_reset' %}">Fordere ein neues Passwort an</a>
            </p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</div>

{% endblock %}
