<!--=================================================-->
<!--Latest ads start-->
<div class="feature-wrap">
  <div class="container">
    <div class="heading-title">Latest Ads</div>
    <div class="heading-text">Find out & explore new businesses near your area and see what's happening !!!</div>
    <ul class="row feature-service">
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/pet.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Beautifull Cats For Sale Three Kittens</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/iphone.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Apple iphone 6 mobile for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/laptop.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Laptops Brand New Condition for sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/car.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Brand New Volvo V40 for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/car.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Brand New Volvo V40 for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/laptop.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Laptops Brand New Condition for sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/iphone.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Apple iphone 6 mobile for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/laptop.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Laptops Brand New Condition for sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/laptop.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Laptops Brand New Condition for sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/iphone.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Apple iphone 6 mobile for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/bike.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Suzuki Heavy Bike for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12">
        <div class="feature-image"><img src="images/car.jpg">
          <div class="price">$170.000</div>
        </div>
        <div class="feature">
          <div class="feat-bg">
            <h3><a href="#">Brand New Volvo V40 for Sale</a></h3>
          </div>
          <div class="feature-detail">
            <ul class="featureList">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 5.40pm</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="view-btn"><a href="#">View All Latest ads</a></div>
  </div>
</div>
<!--Latest ads end-->
