<!--slider start-->
<div class="slider-wrap formWrp">
  <div class="container">
    <div class="sliderTxt">
      <form id="myform" method="get" action="/classifieds">
        <div class="row form-wrap">
          <div class="col-md-3">
            <div class="input-group">
              <input type="text" name="keyword" placeholder="Was suchen sie..." class="form-control" autocomplete="off">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <input type="text" name="location" placeholder="Wo suchen sie..." class="form-control" autocomplete="off">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <select name="category" class="dropdown">
                <option value="">Kategorien </option>
                {% for category in categories %}
                  <option value="{{ category.name }}"> {{category.name}} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-btn">
              <input type="submit" class="sbutn" value="Suchen">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--slider end-->
