<!--top bar start-->
<div class="topbar-wrap">
  <div class="container">
    <!-- row start -->
    <div class="row">
      <!-- col-md-4 start -->
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="user-wrap">
          <div class="login-btn"><a href="{% url 'signin' %}">Login</a></div>
          <div class="register-btn"><a href="{% url 'signup' %}">Registrieren</a></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- col-md-4 end -->

      <!-- col-md-4 start -->
      <div class="col-md-8 col-sm-6 col-xs-6">
        <ul class="social-wrap">
          <li><a href="https://www.facebook.com/Closingshopsde-645041112495082/" target="blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#."><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <!-- col-md-4 end -->
    </div>
    <!-- row end -->
  </div>
</div>
<!--top bar start end-->
