.user-panel {
  height: 60px;
}
.content {
  overflow: hidden;
}
#map {
  height: 100%;
  min-width: 300px;
  min-height: 300px;
}
p.username-text {
  color: white;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

.form-group span.help-block {
	display: none;
}
.has-error span.help-block {
	display: block;
}

.map-info {
	padding: 1px;
}
.map-info > h4 {
	text-align: center;
}
.closingshop-info-alert {
  opacity: 0.6;
}
.upload-link {
  margin-left: 5px;
}
