{% extends "application.html" %}
{% block title %} - Aktivierungs-E-Mail gesendet{% endblock title %}
{% block mainblock %}
<div class="inner-heading">
  <div class="container">
    <h1>Aktivierungs-E-Mail gesendet</h1>
  </div>
</div>
<div class="inner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <div class="login">
          <div class="formint conForm">
            <p>
              Bitte bestätigen Sie Ihr Konto, um die Registrierung abzuschließen.
            </p>
            <p>
              Wenn Sie keine E-Mail erhalten, vergewissern Sie sich, dass Sie die Adresse eingegeben haben, mit der Sie sich registriert haben, oder überprüfen Sie Ihren Spam-Ordner.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>
</div>
{% endblock mainblock %}
