{% extends 'dashboard.html' %}

{% block content %}
<div class="col-xs-12 col-md-6">
  <div class="box box-primary" >
    <div class="box-header with-border">
      <h3 class="box-title">Passwortänderung</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
          {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    <form role="form" method="post">
      {% csrf_token %}
      <div class="box-body">
        <div class="form-group">
          <label for="id_old_password">Altes Passwort:</label>
          <input type="password" name="old_password" autofocus id="id_old_password" class="form-control">
        </div>
        <div class="form-group">
          <label for="id_new_password1">Neus Passwort:</label>
          <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control">
        </div>
        <div class="form-group">
          <label for="id_new_password2">Neues Passwort bestätigen:</label>
          <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control">
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <a href="{% url 'dashboard' %}" class="btn btn-warning pull-left"> Stornieren </a>
        <button type="submit" class="btn btn-primary pull-right">Aktualisieren</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
